@{
    ViewData["Title"] = "Реєстрація";
}
@model (string email, bool isValid, bool isMailSend)

<h3>Реєстрація</h3>
@if (Model.email != null && Model.isValid && Model.isMailSend)
{
    <div class="alert alert-success" role="alert">
        Успішна реєстрація! На адресу @Model.email Вам надіслано лист для підтвердження реєстрації.
    </div>
    <p>
        Після підтвердження, Ви зможете <a href="@ViewData["TargetLoginAction"]" class="d-block">увійти у Ваш аккаунт</a>
    </p>
}
else
{
    if (Model.email != null && !Model.isValid)
    {
        <div class="alert alert-danger" role="alert">
            Невдала реєстрація! Користувач з таким email вже існує.
        </div>
    }
    else if (Model.email != null && !Model.isMailSend)
    {
        <div class="alert alert-danger" role="alert">
            Невдала реєстрація! Не вдалося відправити лист-підтвердження на @Model.email.
        </div>
    }

    @using (Html.BeginForm(ViewData["TargetController"] as string, ViewData["TargetAction"] as string, FormMethod.Post, new { id = "registration_form" }))
    {
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Введіть email-адресу" value="@Model.email" required oninvalid="this.setCustomValidity('Введіть корректну email-адресу')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Введіть ім'я">
        </div>
        if (ViewBag.Pharmacies != null)
        {
            <div class="form-group">
                <label for="pharmacy">Аптека:</label>
                <select id="pharmacy" name="pharmacyId" class="form-control" required>
                    <option class="text-muted" value="">-- Виберіть аптеку --</option>
                    @foreach (var pharmacy in ViewBag.Pharmacies)
                    {
                        <option value="@pharmacy.Id">@pharmacy.Name</option>
                    }
                </select>
            </div>
        }
        <div class="form-group">
            <input id="passw" type="password" name="password" class="form-control" placeholder="Введіть пароль" required>
        </div>
        <div class="form-group">
            <input id="passw_conf" type="password" name="password_conf" class="form-control" placeholder="Повторіть пароль" required>
        </div>
        <button type="submit" class="btn btn-primary">Зареєструватись</button>
        <div class="form-group">
            <a href="@ViewData["TargetLoginAction"]" class="d-block"><small>Вхід до аккаунту</small></a>
        </div>
    }

    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script type="text/javascript">
            $('#registration_form').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password_conf: {
                        required: true,
                        minlength: 5,
                        equalTo: "#passw"
                    }
                    @if (ViewBag.Pharmacies != null)
                    {
                        <text>
                    , pharmacyId: {
                        required: true
                    }
                        </text>
                    }
                },
                messages: {
                    email: {
                        email: "Введіть корректну email-адресу",
                        required: "Необхідно заповнити"
                    },
                    password: {
                        required: "Необхідно заповнити",
                        minlength: "Не повинен бути менше за 5 символів"
                    },
                    password_conf: {
                        required: "Необхідно заповнити",
                        minlength: "Не повинен бути менше за 5 символів",
                        equalTo: "Паролі не співпадають"
                    }
                    @if (ViewBag.Pharmacies != null)
                    {
                        <text>
                    , pharmacyId: {
                        required: "Необхідно заповнити"
                    }
                        </text>
                    }

                }
            });

        </script>
    }
}
